body {
  background: #faf7f7;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.min-h-screen {
  min-height: 100vh;
}
.btn-lightblue {
  background: #6a99ff;
  color: #fff !important;
}
.btn-lightblue:hover {
  background: #5188ff;
  color: #fff !important;
}
.btn-darkblue {
  background: #475aaf;
  color: #fff !important;
}
.btn-darkblue:hover {
  background: #1b3877;
  color: #fff !important;
}
.btn-delete {
  background: #f91944;
  color: #fff;
  width: 3rem;
  height: 2.5rem;
  transition: all 0.1s ease-in;
  font-size: 20px;
}
.btn-delete:hover {
  background: #f11b46;
  color: #fff;
}
.btn-approve {
  background: #00ff89;
  color: #fff;
  width: 3rem;
  height: 2.5rem;
  transition: all 0.1s ease-in;
  font-size: 20px;
}
.btn-approve:hover {
  background: #00fd3f;
  color: #fff;
}
.lh-30px {
  line-height: 30px;
}
button {
  pointer-events: auto !important;
}
.max-w-100 {
  max-width: 100%;
}
@media only screen and (max-width: 688px) {
  .btn-approve,
  .btn-delete {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    padding: 15px;
  }
}
