.min-h-screen {
  min-height: 100vh;
}
.btn-lightblue {
  background: #6a99ff;
  color: #fff !important;
}
.btn-lightblue:hover {
  background: #5188ff;
  color: #fff !important;
}
.btn-darkblue {
  background: #475aaf;
  color: #fff !important;
}
.btn-darkblue:hover {
  background: #1b3877;
  color: #fff !important;
}
.lh-30px {
  line-height: 30px;
}
